@using POC.Grpc.App.Domain.Customers.Models
@model CustomerViewModel

<h1>Details of Customer</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CashBalanceFloat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CashBalanceFloat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CashBalanceDouble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CashBalanceDouble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CashBalanceDecimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CashBalanceDecimal)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
